{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="grid">
        <div class="information">
            <h4>Каржы министрлигине иш сапары</h4>
            <p class="group"><img src="{% static 'images/i1.jpg' %}">Кыргыз-Түрк “Манас” университетинин ректору, профессор
                Себахаттин Балжы, Түркиянын Каржы министрлигинде иш сапары менен болду.
                Үстүбүздөгү жылдын сентябрь айында Түркиянын Каржы министрлигине караштуу Бюджет жана жана салыктарды
                контролдоо комитетинин жетекчиси Хакан Ай жана аталган комитеттин жетекчисинин орун басары Иса Атчекен
                менен жолуккан ректор, КТМУнун 2017-жылга каралган бюджетин бекитип бергендери үчүн аларга тереӊ
                ыраазычылыгын билдирди.
                Кененирээк : <a href="#">http://mediamanas.kg/lang-ky/910-maliye-bakanlna-ziyaret.html</a>
                Радио-ТВ мүдүрлүгү
                ММК жана коом менен байланыш бюросу</p>
        </div>
    </div>
{% endblock %}